<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LibTest主页</title>
    <link href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <link href="../static/css/dashboard.css" rel="stylesheet">
    <script src="webjars/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script src="../static/js/dashboard.js"></script>
</head>
<body class="bg-light">
<div th:insert="commons::headbar"></div>

<main role="main">

    <div th:insert="commons::carsouseldemo"></div>

    <div class="jumbotron jumbotron-fluid bg-light">
        <div class="container">
            <h1>施工中</h1>
            <p>可以加入一些通知，或者广告</p>
        </div>
    </div>


    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

                <div class="col-md-4" th:each="book:${ books }" th:object="${book}">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" th:src="'/static/img/bookimgs/book'+*{bookID}+'.jpg'"
                             alt="图书封面" style="min-height: 500px">
                        <div class="card-body" style="min-height: 250px">
                            <h4 class="card-title" th:text="*{bookName}">bookName</h4>
                            <p class="card-text" th:text="*{author}">author</p>
                            <p class="card-text" th:text="*{publishing}">publishing</p>
                            <form action="#" th:action="@{/lend}" method="post">
                                <input type="hidden" name="lendId" th:value="*{bookID}">
<!--                                <input type="hidden" name="userName" th:value="${#authentication.name}">-->
                                <input type="submit" class="btn btn-primary" value="借阅" th:if="(*{nowCount})>0"/>
                            </form>
                            <a href="#" class="btn btn-dark disabled" th:if="(*{nowCount})<=0">借空</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div th:insert="commons::footbar"></div>
</main>
</body>
</html>
